body {
    background: #fff;
    padding: 1.5em 2em 2em 2em;
    margin: 0 auto;
    margin-top: 26px; /* twitch banner */
    font-family: Optima, "Lucida Grande", Helvetica, sans;
    line-height: 1.3;
    position: relative;
}

h1, h2, h3, h4 {
    font-family: "Hoefler Text", Georgia, serif;
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.2em;
    padding: 0;
}
h1 {
    font-size: 2.5em;
    margin-left: -0.25em;
    width: 17em;
    padding: 15px 0 0 0;
}
h4 {
    font-size: 1.25em;
}

#content {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

#main-column {
    background: url(../images/chrome/project-line.png) top left no-repeat;
    float: left;
    width: 30em;
    padding-right: 2em;
    padding-left: 65px;
}
#secondary-column {
    float: left;
    width: 190px;
    font-size: 90%;
    background: #600 url(../images/chrome/project-bottom.png) bottom center no-repeat;
    color: #fff;
    padding: 40px 15px 120px 15px;
    position: relative;
    top: -32px;
}
#secondary-column a {
    color: #ffb;
    text-decoration: underline;
}
#secondary-column a:hover {
    color: #600;
    background-color: #ffb;
    text-decoration: none;
}

#main-column h2 {
    float: left;
    padding-top: 15px;
    font-size: 2em;
}
#main-column h3.tagline {
    float: left;
    clear: left;
    font-style: italic;
    margin-bottom: 0.4em;
}

.icon {
    margin: 15px 0 0.5em 0.5em;
    float: right;
}
a {
    color: #600;
    text-decoration: underline;
}
h1 a {
    text-decoration: none;
    color: #000;
    padding: 0.25em;
    padding-bottom: 0;
}
a:hover {
    text-decoration: none;
    background-color: #ffb;
    color: #600;
}
a.download {
    font-size: 125%;
    font-weight: bold;
    padding: 0.2em;
    margin: 0 -0.2em;
}
a.image:hover {
    background-color: none;
}
a img
{
    border: none;
}

#changes {
    font-size: 85%;
}

p {
    margin-top: 0;
    clear: left;
}

#software {
    position: absolute;
    top: -0.5em;
    left: 21em;
    list-style: none;
}
#software li {
    float: left;
    margin-right: 1.5em;
}
#software img {
    width: 48px;
}
#software a:hover {
    background: none;
}
ul {
    list-style-type: square;
}

#footer {
    font-size: 80%;
    font-family: "Hoefler Text", Georgia, serif;
    padding: 1em 0;
    border-top: solid 1px #600;
    margin-top: 1em;
}
#footer p {
    margin: 0 0 0.5em 0;
}

#twitch-banner
{
    position: absolute;
    top: -26px;
    left: 0;
    width: 100%;
    background: #ccc;
    text-align: center;
}
    #twitch-banner a
    {
        display: block;
        height: 20px;
        padding: 3px 0;
        text-decoration: none;
    }
        #twitch-banner a .linkText
        {
            text-decoration: underline;
        }

footer hr {
    display: none;
}
